@counter-style FellStyle-Order {
	System: Extends Upper-Roman;
	Suffix: " – ";
}
@counter-style FellStyle-Footnote {
	System: Extends Decimal;
	Prefix: "[";
	Suffix: "] ";
}
@font-feature-values Junicode {
	@styleset {
		Insular: 02;
		Enlarged-Minuscules: 06;
		Long-Slashes: 10;
		Oldstyle-Punctuation: 18;
	}
}
*:Root{
	Font: Normal Large / 1.15 Junicode, "Iowan Old Style", "Hoefler Text", "Charis SIL", "EB Garamond", Baskerville, "Times New Roman", Georgia, Times, Serif;
	Font-Variant-Numeric: Oldstyle-Nums;
	Font-Variant-Alternates: Styleset(Long-Slashes, Oldstyle-Punctuation);
	Line-Height: 1.2;
}
html {
	Margin: 0;
	Padding: 0;
	Font-Size: Large;
}
body {
	Position: Relative;
	Margin: Auto;
	Padding: 3REM;
	Font-Size: .85REM;
	Max-Width: 30REM;
	Hyphens: Auto;
}
@media screen {
	html {
		Color: #FAF8F7;
		Background: #1F1A14;
	}
	body{
		Color: #1F1A14;
		Background: #FAF8F7;
	}
}
body[data-title-info]::BEFORE {
	Display: Block;
	Position: Absolute;
	Top: 2.9REM;
	Left: 3REM;
	Right: 3REM;
	Overflow: Hidden;
	Font-Size: 1REM;
	Line-Height: 1.1;
	Letter-Spacing: .16EM;
	White-Space: NoWrap;
	Text-Overflow: Ellipsis;
	Content: None;
}
body[data-series-info]::BEFORE { Content: Attr(data-series-info) }
body[data-title-info]::BEFORE { Content: Attr(data-title-info) }
body[data-series-info][data-title-info]::BEFORE { Content: Attr(data-series-info) " – " Attr(data-title-info) }
body[data-publisher-info]::BEFORE {
	Top: 7.3REM;
	Content: Attr(data-publisher-info);
}
body[data-series-info][data-publisher-info]::BEFORE,
body[data-title-info][data-publisher-info]::BEFORE {
	Top: 1.25REM;
	Line-Height: 4.4REM;
	White-Space: Pre-Line;
	Content: Attr(data-series-info) "\A" Attr(data-publisher-info);
}
body[data-title-info][data-publisher-info]::BEFORE { Content: Attr(data-title-info) "\A" Attr(data-publisher-info) }
body[data-series-info][data-title-info][data-publisher-info]::BEFORE { Content: Attr(data-series-info) " – " Attr(data-title-info) "\A" Attr(data-publisher-info) }
body[data-details-info]::AFTER {
	Display: Block;
	Margin: .5REM 0 0;
	Font-Size: .6REM;
	Line-Height: 1.65;
	Font-Variant-Numeric: Lining-Nums;
	Font-Variant-Alternates: Styleset(Enlarged-Minuscules, Long-Slashes);
	Text-Align: Center;
	White-Space: Pre-Line;
	Content: Attr(data-details-info);
}
article { Position: Relative }
footer {
	Margin: 0;
	Border-Top: Thin Solid;
	Padding: 1REM 0 0;
	Font-Size: .6REM;
	Font-Variant-Numeric: Lining-Nums;
	Font-Variant-Alternates: Styleset(Enlarged-Minuscules, Long-Slashes);
	Line-Height: 1.65;
	Text-Align: Center;
}
article>section {
	Position: Relative;
	Margin: 0 -3REM;
	Padding: 1REM 3REM;
	Counter-Reset: Para;
}
section.footnotes hr {
	Margin: -1REM 0 1REM;
	Border-Top: Thin Solid;
}
section.footnotes hr::AFTER { Content: None }
blockquote {
	Margin: 1EM 0;
	Padding: 0 1EM;
	Font-Style: Italic;
}
h1 {
	Margin: 0 0 1REM;
	Border-Bottom: Thin Solid;
	Padding: 0 0 2.5REM;
	Overflow: Hidden;
	Font-Size: 3REM;
	Font-Weight: Bold;
	Font-Variant-Caps: Small-Caps;
	Line-Height: 1.1;
	White-Space: NoWrap;
	Text-Overflow: Ellipsis;
}
html[data--book-gen-chapter] h1::BEFORE { Content: Counter(BookGen-Chapter, Upper-Roman) " – “ " }
html[data--book-gen-chapter] h1::AFTER { Content: " ”"}
h2 {
	Margin: 1REM Auto;
	Border-Bottom: Thin Solid;
	Padding: 0 0 .5REM;
	Max-Width: 16REM;
	Text-Align: Center;
	Font-Size: 1.5REM;
	Font-Weight: Bold;
	Line-Height: 1.1;
}
h3 {
	Margin: 1REM 0;
	Text-Align: Center;
	Font: Inherit;
	Font-Style: Italic;
}
hr {
	Display: Block;
	Margin: .5REM 0;
	Color: Inherit;
	Background: Transparent;
	Border: None;
	Text-Align: Center;
}
hr:Not(.plain)::AFTER { Content: "⁂" }
hr.plain { Margin: 1.175REM Auto .675REM }
dl { Margin: 1REM 0 }
ol,
ul {
	Margin: .5REM 0 0;
	Padding-Left: 3REM;
}
dd ol,
dd ul { Margin-Left: -3REM }
ol {
	List-Style: Upper-Roman;
	List-Style: FellStyle-Order;
}
[data--book-gen-type=index] ol { List-Style: None }
[data--book-gen-type=index] ol ol { List-Style: Decimal-Leading-Zero }
section.footnotes>ol {
	Padding: 0;
	List-Style: Inside Decimal;
	List-Style: Inside FellStyle-Footnote;
}
section.footnotes>ol>li:Target {
	Outline: Thin Dashed;
	Font-Weight: Bold;
}
section.footnotes>ol>li::MARKER {
	Vertical-Align: Super;
	Font-Size: .6EM;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums;
	Line-Height: 0;
}
section.footnotes>ol>li>p:First-Child { Display: Contents }
dt,
dd,
li,
p {
	Margin: .5REM 0 0;
	Text-Align: Justify;
}
dt { Font-Weight: Bold }
dd {
	Position: Relative;
	Padding-Left: 3REM;
}
div.line-block p,
footer p { Text-Align: Inherit }
section:Not(.footnotes) p::BEFORE {
	Position: Absolute;
	Left: 0;
	Width: 2.5REM;
	Color: #75706A;
	Font-Size: .75REM;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums;
	Line-Height: 1.35;
	Text-Align: Right;
	Counter-Increment: Para;
	Content: '¶ ' Counter(Para, Decimal-Leading-Zero)
}
div.line-block { Margin: 0 .75REM }
div.line-block p::BEFORE,
div[role=note] p::BEFORE,
div.continuation p::BEFORE {
	Counter-Increment: None;
	Content: None;
}
div.verse { Font-Style: Italic }
span.line-item {
	Display: Block;
	Padding-Left: 3REM;
	Text-Indent: -3REM;
}
span.line-item>* { Text-Indent: 0 }
span.line-item.indented,
div.alternating.verse>div.line-block>p>span.line-item:Nth-Of-Type(Even) { Padding-Left: 4.5REM }
*:Any-Link { Color: #4B2DF7 }
*:Any-Link:Hover { Color: #302F2B }
*:Any-Link:Active { Color: Inherit }
*:Any-Link.footnote-ref {
	Vertical-Align: Super;
	Font-Size: .6EM;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums;
	Line-Height: 0;
	Text-Decoration: None;
}
*:Any-Link.footnote-ref::BEFORE { Content: "[" }
*:Any-Link.footnote-ref::AFTER { Content: "]" }
*:Any-Link.footnote-ref:Target { Font-Weight: Bold }
*:Any-Link.footnote-ref sup { Vertical-Align: Baseline }
*:Any-Link.footnote-back { Margin-Left: .5EM }
em { Letter-Spacing: .08EM }
span[data-font=normalfont] {
	Font-Variant-Alternates: Styleset(Long-Slashes, Oldstyle-Punctuation);
	Font-Variant-Ligatures: Normal;
}
span[data-font=vanillafont] {
	Font-Variant-Alternates: Normal;
	Font-Variant-Ligatures: Normal;
}
span[data-font=insularfont] {
	Font-Variant-Alternates: Styleset(Insular, Long-Slashes, Oldstyle-Punctuation);
	Font-Variant-Ligatures: No-Common-Ligatures;
}
strong {
	Font-Weight: Inherit;
	Font-Variant-Caps: Small-Caps;
}
